Repository ddy86/kong-dashboard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, docker-build

.gitlab-ci.yml:

stages:
  - package
  - build

build:
  stage: package
  only:
    changes:
      - Dockerfile
      - src/*
      - pom.xml
  image: harbor.corp.hongen.com/library/maven:3-jdk-8
  variables:
    MAVEN_OPTS: "-Dmaven.repo.local=/cache/maven.repository"
  script: "mvn package -Dmaven.test.skip=true -B"
  artifacts:
    paths:
      - target/*.jar


docker-build:
  stage: build
  only:
    changes:
      - Dockerfile
      - src/main/**/*
      - pom.xml
  script:
  - export version=v1.1.3
  - ls -al ./
  - ls target
  - ls /
  - docker build -t harbor.corp.hongen.com/hongen/kong-dashborad:$version .
  - docker login -uadmin -p$HARBOR_PASSWORD harbor.corp.hongen.com
  - docker images
  - docker push harbor.corp.hongen.com/hongen/kong-dashborad:$version

modify triggers
  .gitlab-ci.yml
Due: none

update to 1.1.3
  pom.xml
Due: build, docker-build

update ADD command
  Dockerfile
Due: build, docker-build

only tags & branches except master
  .gitlab-ci.yml
Due: none

sort services
  src/main/java/com/hongen/kong/service/KongDashboardServiceImpl.java
Due: docker-build

v1.1.4
  pom.xml
Due: build, docker-build

temp delete docker login
  .gitlab-ci.yml
Due: none

1.1
  .gitlab-ci.yml
  pom.xml
Due: build, docker-build

debug for ci
  .gitlab-ci.yml
Due: none

docker login
  .gitlab-ci.yml
Due: none

auto patch deployment version
  .gitlab-ci.yml
Due: none

update spell error
  .gitlab-ci.yml
Due: none

update k8s-adapter version to latest
  .gitlab-ci.yml
Due: none

upgrade admin apis to latest version: 1.1
  src/main/java/com/hongen/kong/model/ConsumerJwt.java
  src/main/java/com/hongen/kong/model/KongPlugin.java
  src/main/java/com/hongen/kong/model/KongRoute.java
  src/main/java/com/hongen/kong/model/KongService.java
  src/main/java/com/hongen/kong/service/KongDashboardServiceImpl.java
  src/main/java/com/hongen/kong/vo/ConsumerJwtVo.java
  src/main/java/com/hongen/kong/vo/KongPluginsVo.java
  src/main/java/com/hongen/kong/web/KongDashboardController.java
  src/main/resources/templates/consumerJwts.html
  src/main/resources/templates/consumers.html
  src/main/resources/templates/plugins.html
Due: docker-build

fix consumer field for plugins
  src/main/java/com/hongen/kong/model/Consumer.java
  src/main/java/com/hongen/kong/service/KongDashboardServiceImpl.java
  src/main/java/com/hongen/kong/web/KongDashboardController.java
  src/main/resources/templates/pluginForm.html
  src/main/resources/templates/plugins.html
Due: docker-build

modify plugin operating compatible to kong version 1.1
  src/main/java/com/hongen/kong/service/KongDashboardServiceImpl.java
  src/main/java/com/hongen/kong/web/KongDashboardController.java
  src/main/resources/templates/pluginForm.html
  src/main/resources/templates/plugins.html
Due: docker-build

kong version 1.1
  README.md
Due: none

use local nexus
  .gitlab-ci.yml
  .m2/settings.xml
  pom.xml
Due: build, docker-build

only upgrade dev cluster
  .gitlab-ci.yml
Due: none

modify to private
  src/main/java/com/hongen/kong/model/Consumer.java
  src/main/java/com/hongen/kong/model/ConsumerJwt.java
  src/main/java/com/hongen/kong/model/KongPlugin.java
  src/main/java/com/hongen/kong/model/KongPluginConfig.java
  src/main/java/com/hongen/kong/model/KongRoute.java
  src/main/java/com/hongen/kong/model/KongService.java
Due: docker-build

add consumer acl groups show
  src/main/java/com/hongen/kong/model/ConsumerAcl.java
  src/main/java/com/hongen/kong/security/SpringSecurityConfig.java
  src/main/java/com/hongen/kong/service/KongDashboardService.java
  src/main/java/com/hongen/kong/service/KongDashboardServiceImpl.java
  src/main/java/com/hongen/kong/vo/ConsumerAclVo.java
  src/main/java/com/hongen/kong/web/KongDashboardController.java
  src/main/resources/templates/consumers.html
Due: docker-build

modify to private
  src/main/java/com/hongen/kong/vo/ConsumerAclVo.java
  src/main/java/com/hongen/kong/vo/ConsumerJwtVo.java
  src/main/java/com/hongen/kong/vo/ConsumersVo.java
  src/main/java/com/hongen/kong/vo/KongPluginsVo.java
  src/main/java/com/hongen/kong/vo/KongRoutesVo.java
  src/main/java/com/hongen/kong/vo/KongServicesVo.java
Due: docker-build

change one by one show service and route name to batch
  src/main/java/com/hongen/kong/service/KongDashboardService.java
  src/main/java/com/hongen/kong/service/KongDashboardServiceImpl.java
  src/main/java/com/hongen/kong/web/KongDashboardController.java
  src/main/resources/templates/consumers.html
  src/main/resources/templates/plugins.html
  src/main/resources/templates/routes.html
Due: docker-build

add error html handler
  src/main/java/com/hongen/kong/exception/GlobalExceptionHandler.java
  src/main/resources/templates/error/500.html
Due: docker-build

acl plugin add service
  src/main/java/com/hongen/kong/model/KongPluginConfig.java
  src/main/java/com/hongen/kong/service/KongDashboardServiceImpl.java
  src/main/resources/templates/pluginForm.html
Due: docker-build

add upstreams and target show support
  src/main/java/com/hongen/kong/model/KongTarget.java
  src/main/java/com/hongen/kong/model/KongUpstream.java
  src/main/java/com/hongen/kong/service/KongDashboardService.java
  src/main/java/com/hongen/kong/service/KongDashboardServiceImpl.java
  src/main/java/com/hongen/kong/vo/KongTargetVo.java
  src/main/java/com/hongen/kong/vo/KongUpstreamVo.java
  src/main/java/com/hongen/kong/web/KongDashboardController.java
  src/main/resources/templates/targets.html
  src/main/resources/templates/top.html
  src/main/resources/templates/upstreams.html
Due: docker-build

make nav fixed
  src/main/resources/static/css/default.css
  src/main/resources/templates/top.html
Due: docker-build

add upstreams add del and update
  src/main/java/com/hongen/kong/service/KongDashboardService.java
  src/main/java/com/hongen/kong/service/KongDashboardServiceImpl.java
  src/main/java/com/hongen/kong/web/KongDashboardController.java
  src/main/resources/templates/upstreamForm.html
Due: docker-build

targets add and del
  src/main/java/com/hongen/kong/service/KongDashboardService.java
  src/main/java/com/hongen/kong/service/KongDashboardServiceImpl.java
  src/main/java/com/hongen/kong/web/KongDashboardController.java
  src/main/resources/templates/targetForm.html
  src/main/resources/templates/targets.html
Due: docker-build

update owner name
  LICENSE
Due: none

switch to local nexus server
  .m2/settings.xml
Due: none

sort plugins by route & name
  src/main/java/com/hongen/kong/model/KongPlugin.java
  src/main/java/com/hongen/kong/service/KongDashboardServiceImpl.java
Due: docker-build

change nexus server to local
  .m2/settings.xml
Due: none

use different k8s adapter for pro and dev server
  .gitlab-ci.yml
Due: none

add maintainer in dockerfile
  Dockerfile
Due: build, docker-build

show CI_COMMIT info
  .gitlab-ci.yml
Due: none

show CI_COMMIT info in docker image's author
  .gitlab-ci.yml
Due: none

test if shell in ci
  .gitlab-ci.yml
Due: none

test sed shell in ci
  .gitlab-ci.yml
Due: none

test sed version
  .gitlab-ci.yml
Due: none
